*{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
}


.App {
  display:grid;
  grid-template-areas: 
  "header"
  "main"
  "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 135px 1fr 85px;
  gap:20px;
  height: 100vh;
}



